ul {
    color: brown;
}

.MENU {
    display: flex;
    flex-direction: row;
}

.menu_content {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    justify-content: center;
}
body {
    background-image: url('images/desktop-wallpaper-restaurant-menu-menu.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
